#wrapper{
  padding-top: 65px;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.0rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.0rem;
}

ul.js-guides {
  margin-left: 10px;
}


ul.js-guides li a, ul.js-guides li span{
  font-size: 1.5rem;
}

iframe {
  margin-bottom: 15px;
}
